body {

    header {
        @include grid-row();

        h1 {
            @include grid-column(12);
            color: white;
            font-size: 4em;
            margin-bottom: 0px;
            text-align: center;
        }
    }


    section.menu {
        @include grid-row();

        div.menuItemTotal {
            @include grid-column(12);
            text-align: center;
            background-color: #F7B538;
            border: solid;
            border-color: #780116;
            border-width: 10px;
            border-radius: 20px;

            @media(min-width: 500px){
                @include grid-column(6);
            }

            @media(min-width: 1000px){
                @include grid-column(3);
            }


        }
    }
}

p.billTable {

    font-size: 1em;
}

p.billItem {
    font-size: 1em;
    font-weight: bold;
}

p.totalBill {
    font-size: 2em;
    font-weight: bold;
}








