

header {
    @include grid-row();

    h1 {
        @include grid-column(12);
        text-align: center;
    }
}

main {
    @include grid-row();

    div.navs {
        h2 {
            @include grid-column(6);
            text-align: center;
            border: solid;
            border-width: 1px;
            background-color: lightgray;
        }
    }

    section.menu {

        div.menuItem {
            @include grid-column(3);
            display: inline-block;
            text-align: center;

            div.contents {
                border: solid;
                border-width: 1px;
                padding: 10px;

                button.order {
                    color: #fff;
                    background-color: #6496c8;
                    text-shadow: -1px 1px #417cb8;
                    border: none;
                    font-size: 1em;
                    padding: 5px 5px;
                    border-radius: 5px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

main section.menu div.menuItem:last-child:not(:first-child) {
     float: none; 
}






